<div class="message-container">
  <div class="animated-message">
    "Votre voiture autonome est là pour vous servir : relaxez-vous, vous êtes le vrai conducteur!"
  </div>
</div>

<div class="login-container">
  <h1 class="welcome-title">Bienvenue sur Smart Taxi</h1>
  <p class="login-prompt">
    Si vous n'avez pas de compte, 
    <a routerLink="/inscription">inscrivez-vous ici</a>.
  </p>

  <div class="content-wrapper">
    <img src="assets/taxi.png" alt="Image de taxi" class="login-image" />
    <div class="login-form">
      <div class="icon-container">
        <img src="assets/icon3.png" alt="Icône" class="icon" />
      </div>

      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="mot_de_passe" required />
      </div>
      <button (click)="onSubmit()">Se connecter</button>

      <!-- Lien "Mot de passe oublié ?" -->
      <p class="forgot-password">
        <a href="#" (click)="openForgotPasswordModal()">Mot de passe oublié ?</a>
      </p>
    </div>
  </div>
</div>

<!-- Modal pour réinitialiser le mot de passe -->
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close-button">&times;</span>
    <h2>Réinitialiser le mot de passe</h2>
    <div class="form-group">
      <label for="forgotEmail">Adresse email</label>
      <input type="email" id="forgotEmail" [(ngModel)]="forgotEmail" required />
    </div>
    <div class="form-group">
      <label for="newPassword">Nouveau mot de passe</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" required />
    </div>
    <button (click)="resetPassword()">Réinitialiser</button>
  </div>
</div>
