/* General Page Style */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Sidebar Component Style */
  app-sidebar {
    width: 30px;
    color: white;
    height: calc(100% - 40px); /* Prendre toute la hauteur de la fenêtre moins la navbar */
    position: fixed;
    left: 0px; /* Légère marge à gauche de la page */
    top: 0px; /* Commence après la navbar */
    padding-top: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le composant navbar */
  app-navbar {
    width: calc(100% - 30px); /* Prendre toute la largeur, en laissant de la place pour la sidebar */
    background-color: #343a40; /* Couleur gris foncé */
    color: white;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    left: 289; /* Évite la marge à gauche pour couvrir toute la largeur disponible */
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Accentuer légèrement l'ombre */
  }
  
  /* Application Name in Navbar */
  .app-name {
    font-size: 22px;
    font-weight: bold;
    color: #ffc107;
  }
  
  /* Logout Button in Navbar */
  .logout-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #218838;
  }
  
  /* Main Container Style */
 /* Main Container Style */
.container {
    margin-left: 200px; /* Sidebar width */
    margin-top: 100px; /* Increased margin to add more space between navbar and form */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    overflow-y: auto;
  }
  
  /* Profile Form Style */
  .profile-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: auto; /* Center horizontally */
  }
  
  /* Form Group Style */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Form Labels */
  form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Submit Button Style */
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  